body {
  max-width: 960px;
  margin: auto;
}

.dropzone {
  /* margin: 20px; */
  padding: 20px;
  background-color: rgb(230, 230, 230);
  border: dotted rgb(190, 190, 190);
  color: gray;
}

table {
  margin: auto;
  width: 100%;
  border: none;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid navy;
}

tbody td {
  padding: 1em;
}

ol {
  list-style: none;
}

thead {
  color: white;
  background: navy;
}

tbody > tr:nth-child(even) {
  background: lavender;
}

tbody > tr:nth-child(odd) {
  background: white;
}